{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true
    },
    "root": true,
    "rules": {
        "indent": ["error", 4],
        "no-var": "error",
        "camelcase": 0,
        "prefer-template": 0,
        "no-param-reassign": 0,
        "func-names": 0,
        "one-var": 0,
        "prefer-const": 0,
        "no-nested-ternary": 0,
        "no-else-return": 0,
        "no-plusplus": 0,
        "no-mixed-operators": 0,
        "prefer-spread": 0,
        "no-shadow": 0,
        "no-underscore-dangle": 0,
        "import/prefer-default-export": 0,
        "one-var-declaration-per-line": 0,
        "no-sequences": 0,
        "arrow-body-style": 0,
        "max-len": 0,
        "no-unneeded-ternary": 0,
        "newline-per-chained-call": 0,
        "no-unused-expressions": 0,
        "brace-style": 0,
        "comma-dangle": 0,
        "consistent-return": 0,
        "yoda": 0,
        "no-continue": 0,
        "no-loop-func": 0,
        "no-bitwise": 0,
        "no-lonely-if": 0,
        "quote-props": 0,
        "prefer-rest-params": 0,
        "no-restricted-syntax": 0,
        "guard-for-in": 0,
        "max-lines": 0,
        "vars-on-top": 0,
        "no-unused-vars": 0,
    }
}
