<div
  class="chart-list"
  [class]="{ 'chart-list--resizing': resizeInProgress }"
  lwScrollDirection
  lwIntersectionRoot
  [lwIntersectionObserver]="intersectionObserverOptions"
  (directionChange)="onScrollDirection($event)"
  #chartList
>
  <div class="chart-list__content">
    <lw-resize-v-handle></lw-resize-v-handle>
    <ng-container *ngFor="let panel of panels; trackBy: trackItem; let itemIndex = index">
      <lw-chart-panel
        (chartInitFinished)="onChartInitFinished(panel)"
        (resizeEnd)="onResizeEnd($event)"
        (resizeStart)="onResizeStart($event)"
        (resizing)="onResizing($event)"
        (visible)="onVisibleChange(panel, $event)"
        (zoomEnd)="onZoomEnd(panel, $event)"
        [data]="panel"
        [eventBus]="eventBus"
        [resizeHandle]="resizeHandle"
        [scrollContainer]="chartList"
      ></lw-chart-panel>
    </ng-container>
  </div>
  <div class="visibility-indicator">
    <div *ngFor="let panel of visiblePanels; let itemIndex = index" class="visibility-indicator__visible-item">
      {{ panel.id }}
    </div>
  </div>
</div>
