<div class="chart-poc-story">
  <div class="chart-story__chart">
    <div class="chart-story__chart-content chart-content">
      <ng-container
        #chartContainer1
        [ngTemplateOutlet]="chartContent"
        [ngTemplateOutletContext]="{ params: params1, id: chart1Id }"
      ></ng-container>
      <div class="chart-content__layer"></div>
    </div>
    <div class="chart-story__chart-content">
      <ng-container #chartContainer2 [ngTemplateOutlet]="chartContent" [ngTemplateOutletContext]="{ params: params2, id: chart2Id }">
      </ng-container>
    </div>
  </div>
  <div class="chart-poc-story__params-groups">
    <div class="chart-poc-story__params">
      <div class="chart-poc-story__row">
        <mat-slide-toggle [(ngModel)]="zoomEnabled" (change)="toggleZoom()">Toggle zoom</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="dragZoomEnabled" (change)="toggleDragZoom()">Toggle drag zoom</mat-slide-toggle>
      </div>
      <div class="chart-poc-story__row">
        <button class="input-container__button mat-button mat-raised-button" (click)="resetZoom()">Reset zoom</button>
      </div>
      <div class="chart-poc-story__row">
        <label class="row__label">minX</label>
        <div class="row__value"><lw-number-input [minValue]="1" [(ngModel)]="minX" (ngModelChange)="updateXRange()"></lw-number-input></div>
      </div>
      <div class="chart-poc-story__row">
        <label class="row__label">maxX</label>
        <div class="row__value"><lw-number-input [minValue]="1" [(ngModel)]="maxX" (ngModelChange)="updateXRange()"></lw-number-input></div>
      </div>
      <div class="chart-poc-story__row">
        <label class="row__label">minY</label>
        <div class="row__value"><lw-number-input [minValue]="1" [(ngModel)]="minY" (ngModelChange)="updateYRange()"></lw-number-input></div>
      </div>
      <div class="chart-poc-story__row">
        <label class="row__label">maxY</label>
        <div class="row__value"><lw-number-input [minValue]="1" [(ngModel)]="maxY" (ngModelChange)="updateYRange()"></lw-number-input></div>
      </div>
    </div>
    <div class="chart-poc-story__params">
      <div class="chart-poc-story__row">
        <button class="input-container__button mat-button mat-raised-button" (click)="zoom('in')">Zoom In (+)</button>
        <button class="input-container__button mat-button mat-raised-button" (click)="zoom('out')">Zoom Out (-)</button>
      </div>
    </div>
  </div>
</div>

<ng-template #chartContent let-params="params" let-id="id">
  <lw-chart [id]="id" [params]="params"></lw-chart>
</ng-template>
