<div class="bar-chart-sandbox">
  <div class="bar-chart-sandbox__chart-toolbar">
    <button class="input-container__button mat-button mat-raised-button" (click)="zoomIn()">Zoom In</button>
    <button class="input-container__button mat-button mat-raised-button" (click)="zoomOut()">Zoom Out</button>
    <button class="input-container__button mat-button mat-raised-button" (click)="zoomReset()">Zoom Reset</button>
    <button class="input-container__button mat-button mat-raised-button" (click)="newData()">New data</button>
    <div class="bar-chart-sandbox__row">
      <label class="checkbox checkbox--select">
        <input hidden type="checkbox" [(ngModel)]="normalDistributionCurveEnabled" ng-model-options="{'standalone': true}" />
        <span class="checkbox__marker" ng-click="$event.stopPropagation()"></span>
        <span class="checkbox__text">Show normal distribution curve</span>
      </label>
    </div>
  </div>
  <div class="bar-chart-sandbox__charts" #chartsContainer>
    <div class="bar-chart-sandbox__chart-content chart-content">
      <lw-bar-chart-wrapper
        chartId="chartTop"
        [dataSet]="dataSet"
        [size]="chartSize"
        [isDomainCorrect]="isDomainCorrect"
        [xGridLines]="xGridLines"
        [normalDistributionCurveEnabled]="normalDistributionCurveEnabled"
        #chartWrapper
      ></lw-bar-chart-wrapper>
    </div>
  </div>
</div>
